html{
	width: 100%;
	background-image: url(../img/fond.jpg);
}
body{
	width: 50%;
	margin: auto;
}
ul{
	list-style-type: none;
}
.classe{
	margin: auto;
	margin-top: 2%;
	width: 40%;
	background-color: black;
	color: white;
	border: outset;
	text-align: left;
	padding: 2%;
}
.classe li{
	padding-left: 10%;
}
#classe{
	
}